@import url(https://fonts.googleapis.com/css2?family=Be+Vietnam&display=swap);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

@import './Vars.scss';
@import './Media.scss';

body {
  background: linear-gradient($main-color, $footer-color);
  margin: 0px;
  font-family: $theme-font;
}

* {
    box-sizing: border-box;
}

.button {
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  height: 50px;
  letter-spacing: 1px;
  margin: 10px 0px;
}